-r https://raw.githubusercontent.com/erenmetesar/NiceGrill/master/requirements.txt
telethon
pip
pymongo
dnspython
meval
mtranslate
urbandict
pygdrive3fixed
google-api-python-client
lxml
search-engine_parser
google_images_download
oauthclient
gtts
oweatherm
requests
pillow
langdetect
pySmartDL
youtube2mp3
youtube-search
ffmpeg
cython
google_auth_oauthlib
numpy
pandas
youtube_dl
